{% extends "shared/main_layout.html" %}
{% load static %}

{% block head_ref %}
  <style>
    .course-box {
      height: 438px;
      border: 0.5px solid #446878;
      border-radius: 12px;
      padding: 0.75rem;
      text-align: center;
    }
  </style>
{% endblock head_ref %}

{% block content %}
    <section class="flex flex-col md:flex-row items-center justify-center px-4 sm:px-6 md:px-8">
        <div class="md:w-1/2 flex justify-center items-center md:order-2 pt-20">
          <img
            src="{% static "about/public/images/about.svg" %}"
            alt="فروشگاه سعدی"
            class="md:w-11/12"
          />
        </div>
        
        <div class="w-full lg:w-2/5 md:order-1 text-right">
          <h2 class="text-2xl  md:text-4xl font-semibold mb-8 text-darkgray">
            درباره‌ی فروشگاه سعدی
          </h2>
          <p class="text-darkgray mb-12 md:leading-loose leading-relaxed  md:text-xl text-justify ">
            در هنرستان سمپاد سعدی، باور ما اینه که پشت هر موفقیتی، انگیزه، مهارت و خلاقیت نسل جوان ایستاده. <br> ما به هنرجویانمون به‌عنوان بازوان توانمند صنعت و آموزش نگاه می‌کنیم؛ نسلی که اگر مسیر درستی پیشِ روشون باشه، می‌تونن آینده رو بسازن، نه فقط برای خودشون، بلکه برای جامعه. به جامعه‌ی ما خوش اومدین!
          </p>
          <div class="mt-6 sm:mt-8 md:mt-10 flex justify-center md:justify-start">
            <a
            href="{% url "products:products_page" %}"
            class="px-4 md:px-6 py-2 md:py-3 text-white bg-Orange rounded-lg hover:bg-bright-orange transition"
            >
              ورود به فروشگاه
            </a>
          </div>
        </div>        
    </section>

    <!-- باکس‌های رشته‌ها -->
    <section class="m-8 flex flex-col md:flex-row gap-6 justify-center items-center mt-24">
        

          <!-- باکس شبکه -->
          <div class="course-box md:w-[325px]">
            <img
              src="{% static "about/public/images/network.svg"%}"
              alt="شبکه و نرم‌افزار"
              class="mx-auto mb-4 w-20 h-20 object-contain mt-6"
            />
            <h4 class="text-xl text-darkgray font-semibold mb-2">
              شبکه و نرم‌افزار و رایانه
            </h4>
            <p class="text-base text-darkgray leading-relaxed mt-10">
              رشته‌ی کامپیوتر یا همون شبکه و نرم‌افزار  یکی از کاربردی‌ترین رشته‌های فنی توی هنرستانه؛<br>
              رشته‌ای که در کنار آموزش‌های تئوری، حسابی دست‌ت رو با مهارت‌های عملی آشنا می‌کنه و یه پل مستقیمه بین مدرسه و بازار کار.
            </p>
          </div>

          <!-- باکس فتوگرافیک -->
          <div class="course-box md:w-[325px]">
            <img
              src="{% static "about/public/images/photo.svg" %}"
              alt="فتوگرافیک"
              class="mx-auto mb-4 w-20 h-20 object-contain mt-6"
            />
            <h4 class="text-xl text-darkgray font-semibold mb-2">فتوگرافیک</h4>
            <p class="text-base text-darkgray leading-relaxed mt-10">
              رشته‌ی فتوگرافیک یکی از رشته‌های هنری هنرستانه که تمرکزش روی آموزش مهارت‌های عکاسی حرفه‌ای و ویرایش دیجیتال تصویره. توی این رشته، هنرجوها یاد می‌گیرن چطور با دوربین و نرم‌افزار، ترکیب خلاقانه‌ای از هنر و تکنولوژی بسازن.
            </p>
          </div>

          <!-- باکس گرافیک -->
          <div class="course-box md:w-[325px]">
            <img
              src="{% static "about/public/images/graphic.svg" %}"
              alt="گرافیک"
              class="mx-auto mb-4 w-20 h-20 object-contain mt-6"
            />
            <h4 class="text-xl text-darkgray font-semibold mb-2 ">گرافیک</h4>
            <p class="text-base text-darkgray leading-relaxed mt-10">
              رشته‌ی گرافیک یکی از خلاقانه‌ترین و پرکاربردترین رشته‌های فنی‌هنریه؛ 
              جایی که هنرجو یاد می‌گیره چطور از طریق تصویر، پیام منتقل کنه و طراحی‌هایی خلق کنه که هم زیبا باشن و هم هدفمند.
            </p>
          </div>
    </section>
    <div class="flex flex-col items-center mx-auto mt-10 px-4" dir="rtl">
      <h2 class="text-2xl font-bold mb-10 text-center">تیمِ توسعه‌ی فروشگاه هنرستان سعدی</h2>
    
      <div class="flex flex-col w-full max-w-4xl items-center gap-y-6">
    
        <div class="flex flex-col sm:flex-row justify-between w-full bg-light-gray py-6 px-12 rounded-lg mb-4">
          <h3 class="text-xl font-semibold mb-4 sm:mb-0 sm:w-1/3">مدیریت پروژه و تولید محتوا</h3>
          <ul class="list-disc text-xl pr-5 sm:w-2/3">
            <li>رکسانا تیموری</li>
          </ul>
        </div>
    
        <!-- باکس ۲ -->
        <div class="flex flex-col sm:flex-row justify-between w-full  bg-light-gray py-6 px-12 rounded-lg mb-4">
          <h3 class="text-xl font-semibold mb-4 sm:mb-0 sm:w-1/3">توسعه‌ی فرانت‌اند</h3>
          <ul class="list-disc text-xl pr-5 sm:w-2/3">
            <li>مهدیه آبیار</li>
            <li>ریحانه غیرتمند</li>
            <li>کوثر کلاته عربی</li>
            <li>آناهیتا شه‌رضائی</li>
            <li>زهرا حمیدی</li>
          </ul>
        </div>
    
        <!-- باکس ۳ -->
        <div class="flex flex-col sm:flex-row justify-between w-full  bg-light-gray py-6 px-12 rounded-lg mb-4">
          <h3 class="text-xl font-semibold mb-4 sm:mb-0 sm:w-1/3">توسعه‌ی بک‌اند</h3>
          <ul class="list-disc text-xl pr-5 sm:w-2/3">
            <li>نازنین‌زهرا بخشی</li>
            <li>پرنیا خندان</li>
          </ul>
        </div>
    
    
        <div class="flex flex-col sm:flex-row justify-between w-full  bg-light-gray px-12 py-6 rounded-lg mb-4">
          <h3 class="text-xl  font-semibold mb-4 sm:mb-0 sm:w-1/3">طراحی رابط کاربری و گرافیک</h3>
          <ul class="list-disc text-xl pr-5 sm:w-2/3">
            <li>حدیث حافظ</li>
            <li>هدیه حافظ</li>
          </ul>
        </div>
      </div>
    </div>
    
{% endblock content %}

{% block title %}
  درباره ما
{% endblock title %}
