{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>فرم ورود</title>
  <link rel="stylesheet" href="{% static "home/styles/output.css" %} ">
  <link rel="stylesheet" href="{% static "home/public/fonts/fontiran.css" %} ">
  <script src="./script.js"></script>
  <!-- <link rel="stylesheet" href="./style.css"> -->
</head>
<body class="flex items-center justify-center min-h-screen px-4 bg-white">

  <div class="w-full max-w-md">
    <div class="flex flex-col items-center justify-center mb-10 text-center">
      <h1 class="text-2xl font-bold text-gray-700 sm:text-3xl">ورود</h1>
      <p class="mt-2 text-sm text-gray-600 sm:text-md">
        خوش اومدی! برای دسترسی به داشبورد، مشاهده سفارش‌ها و مدیریت محصولات، وارد حساب کاربری‌ات شو.
      </p>
    </div>

    <form class="p-6 bg-white border rounded-lg" method="POST" action="">
      {% csrf_token %}

      <!-- ایمیل -->
      <div class="mb-4">
        <label for="{{userloginForm.username.id_for_lable}}" class="block text-sm font-medium text-[#3A3A3A] mb-2">نام کاربری</label>
        {{ userloginForm.username }}
        {% for error in userloginForm.username.errors  %}
          <p class="text-red-500 text-sm mt-1">{{error}}</p>
        {% endfor %}
        
        <span class="phone-msg text-[0.65rem] text-red-500 mt-1 block"></span>
      </div>

      <!-- رمز عبور -->
      <div class="mb-4">
        <label for="{{userloginForm.password.id_for_lable}}" class="block text-sm font-medium text-[#3A3A3A] mb-2">رمز عبور</label>
        <div class="relative">
          {{ userloginForm.password }}
          {% for error in userloginForm.password.errors  %}
            <p class="text-red-500 text-sm mt-1">{{error}}</p>
          {% endfor %} 
             
          <span onclick="togglePassword()" class="absolute left-3 top-2.5 cursor-pointer">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.03589 12.322C1.96688 12.1146 1.96688 11.8904 2.03589 11.683C3.42289 7.51 7.35989 4.5 11.9999 4.5C16.6379 4.5 20.5729 7.507 21.9629 11.678C22.0329 11.885 22.0329 12.109 21.9629 12.317C20.5769 16.49 16.6399 19.5 11.9999 19.5C7.36189 19.5 3.42589 16.493 2.03589 12.322Z" stroke="#9AA6B2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 12C15 12.7956 14.6839 13.5587 14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15C11.2044 15 10.4413 14.6839 9.87868 14.1213C9.31607 13.5587 9 12.7956 9 12C9 11.2044 9.31607 10.4413 9.87868 9.87868C10.4413 9.31607 11.2044 9 12 9C12.7956 9 13.5587 9.31607 14.1213 9.87868C14.6839 10.4413 15 11.2044 15 12Z" stroke="#9AA6B2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </div>
        <span class="password-msg text-[0.65rem] text-red-500 mt-1 block"></span>
      </div>

      <button type="submit"
              class="signin-btn w-full py-2 px-4 bg-[#015551] text-white font-semibold rounded-xl focus:outline-none focus:ring-2">
        ورود
      </button>

      <p class="mt-4 text-sm text-center text-gray-600">
        حساب نداری؟ <a href="{% url "registr:registr_page" %}" class="text-[#57B4BA] underline">ثبت‌نام کنید</a>
      </p>
    </form>
  </div>

</body>
</html>
