{% load static %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/styles/output.css' %}">
    <link rel="stylesheet" href="{% static 'home/public/fonts/fontiran.css' %}">
    <title>فرم ثبت نام</title>
    
</head>
<body dir="rtl" class="flex justify-center items-center min-h-screen flex-col">

    <h2 class="text-2xl sm:text-3xl md:text-3xl font-bold mb-6 md:mb-6 text-darkgray text-center w-full">ثبت نام</h2>
    <p class="text-center text-gray-600 mb-6">با ثبت نام در سایت فروشگاه هنرستان سعدی، از خرید در سایت<br> بهره‌مند شوید.</p>
  
    <form action="#" method="POST" class="w-full max-w-md p-8  border rounded-lg ">
      <div class="mb-4">
        <div class="flex items-center space-x-4 space-x-reverse justify-between bg-[#F2F4F8] px-12 py-3 rounded-xl">
          <label class="inline-flex items-center text-sm">
            <input type="radio" name="account-type" value="artist" class="h-4 w-4">
            <span class="mr-2 text-darkgray text-xs">کارفرما</span>
          </label>
          <label class="inline-flex items-center text-sm">
            <input type="radio" name="account-type" value="user" class="h-4 w-4" checked>
            <span class="mr-2 text-darkgray text-xs">هنرجو</span>
          </label>
        </div>
      </div>
  
      <div class="mb-4 flex gap-4">
        <div class="w-1/2">
          <label for="name" class="block text-xs font-medium text-darkgray mb-2">نام</label>
          <input type="text" name="name" class="name w-full px-4 py-2 text-sm rounded-md focus:outline-none focus:ring-2 focus:ring-dark-teal bg-[#F2F4F8] shadow" placeholder="نام خود را وارد کنید...">
          <span class="name-msg text-[0.65rem]"></span>
        </div>
  
        <div class="w-1/2">
          <label for="lastname" class="block text-xs font-medium text-darkgray mb-2">نام خانوادگی</label>
          <input type="text" name="lastname" class="lastname w-full px-4 py-2 text-sm rounded-md focus:outline-none focus:ring-2 focus:ring-dark-teal bg-[#F2F4F8] shadow" placeholder="نام خانوادگی خود را وارد کنید...">
          <span class="lastname-msg text-[0.65rem]"></span>
        </div>
      </div>
  
      <div class="mb-4">
        <label for="phone" class="block text-xs font-medium text-darkgray mb-2">شماره تلفن</label>
        <input type="text"  name="phone" class="phone w-full px-4 py-2 text-sm rounded-md focus:outline-none focus:ring-2 focus:ring-dark-teal bg-[#F2F4F8] shadow" placeholder="--------0915">
        <span class="phone-msg text-[0.65rem]"></span>
      </div>
  
      <div class="mb-4">
        <label for="password" class="block text-xs font-medium text-darkgray mb-2">رمز عبور</label>
        <input type="password" id="password" name="password" class="password w-full px-4 py-2 text-sm rounded-md focus:outline-none focus:ring-2 focus:ring-dark-teal bg-[#F2F4F8] shadow" placeholder="رمز خود را وارد کنید...">
        <p class="text-[0.65rem] text-[#9AA6B2] pt-3">رمز ورود شما باید شامل حداقل 8 کاراکتر، یک عدد و یک علامت(*، @، _) باشد.</p>
        <span class="password-msg text-[0.65rem]"></span>
      </div>
  
      <button type="submit" class="signin-btn w-full py-3 px-4 bg-dark-teal text-white font-semibold rounded-xl focus:outline-none focus:ring-2">
        ثبت نام
      </button>
      <span class="signin-msg text-[0.65rem]"></span>
  
      <p class="mt-4 text-center text-sm text-gray-600">
        حساب دارید؟ <a href="{% url "login:login_page" %}" class="text-teal">وارد شوید</a>
      </p>
    </form>
    
    <script src=" {% static 'registr/register.js' %} "></script>
  </body>
</html>
