{% extends "shared/main_layout.html" %} 
{% load static %} 
{% block content %}

{% include "products/product_navigation.html" %} 

<main class="pt-14 flex flex-col items-center justify-center">
  <section class="max-w-7xl mx-auto p-4 mt-10">
    <div class="flex flex-col lg:flex-row gap-6 items-stretch">
      <!-- Product Image -->
      <div class="md:order-first mr-0">
        <div
          class="border border-darkgray p-2 rounded mb-4 flex items-center justify-center"
          style="height: 490px"
        >
          <img
            src="./public/images/b.svg"
            alt="تصویر ست اداری"
            class="object-contain mx-auto my-auto"
          />
        </div>
        <div class="flex gap-7 justify-center md:justify-start mt-6">
          <img
            src="./public/images/b.svg"
            class="w-14 h-14 border rounded cursor-pointer"
          />
          <img
            src="./public/images/b.svg"
            class="w-14 h-14 border rounded cursor-pointer"
          />
          <img
            src="./public/images/b.svg"
            class="w-14 h-14 border rounded cursor-pointer"
          />
          <img
            src="./public/images/b.svg"
            class="w-14 h-14 border rounded cursor-pointer"
          />
          <img
            src="./public/images/b.svg"
            class="w-14 h-14 border rounded cursor-pointer"
          />
        </div>
      </div>
      <!-- Product Details -->
      <div
        class="bg-white p-6 flex-1 flex flex-col justify-between"
        style="height: 600px; width: 417px"
      >
        <div>
          <nav class="text-xs text-teal font-semibold mb-2">
            طراحی دیجیتال / طراحی ست اداری
          </nav>
          <h1 class="text-lg font-bold mt-6 text-darkgray">طراحی ست اداری</h1>
          <hr class="border-gray-300 mt-6" />
          <div class="flex gap-3 mt-6">
            <button
              class="flex items-center gap-2 bg-light-gray rounded px-4 py-1 text-darkgray text-sm"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="#fe4f2d"
                style="width: 16px; height: 16px"
                class="size-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                  clip-rule="evenodd"
                />
              </svg>
              4.2
            </button>
            <button
              class="flex items-center gap-2 bg-light-gray rounded px-5 py-1 text-sm text-darkgray"
            >
              مشخصات<svg
                xmlns="http://www.w3.org/2000/svg"
                style="width: 16px; height: 16px"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <p
            class="leading-6 text-darkgray text-justify text-base mt-10 font-normal"
          >
            اگر دوست دارین برای برند خودتون، هویت بصری خلق کنین، ما اینجاییم
            تا با تمرکز بر خلاقیت و سادگی، یک ست اداری فوق‌العاده، شامل: اوراق
            اداری، کارت ویزیت، اپلیکیشن موبایل، لوگو، کارت شناسایی، تقویم
            رومیزی و آیتم‌های تبلیغاتی مثل لیوان، کلاه، تی‌شرت، رو براتون
            طراحی و تولید کنیم؛و یه برند فوق‌العاده براتون بسازیم!
          </p>
        </div>
        <div class="">
          <h2 class="font-bold mb-4 text-darkgray text-base">ویژگی‌ها</h2>
          <div
            class="grid grid-cols-2 sm:grid-cols-4 gap-2 text-center text-xs"
          >
            <button
              class="p-4 rounded-lg text-base font-semibold text-darkgray transition flex items-center justify-center gap-2 bg-light-gray"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                style="width: 24px; height: 24px"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"
                />
              </svg>
              پرداخت آنلاین
            </button>
            <button
              class="p-4 rounded-lg text-base font-semibold text-darkgray transition flex items-center justify-center gap-2 bg-light-gray"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                style="width: 24px; height: 24px"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"
                />
              </svg>
              پرداخت آنلاین
            </button>
            <button
              class="p-4 rounded-lg text-base font-semibold text-darkgray transition flex items-center justify-center gap-2 bg-light-gray"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                style="width: 24px; height: 24px"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"
                />
              </svg>
              پرداخت آنلاین
            </button>
            <button
              class="p-4 rounded-lg text-base font-semibold text-darkgray transition flex items-center justify-center gap-2 bg-light-gray"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                style="width: 24px; height: 24px"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"
                />
              </svg>
              پرداخت آنلاین
            </button>
          </div>
        </div>
      </div>
      <aside class="bg-light-gray p-4 rounded-lg flex flex-col gap-5">
        <div
          class="flex items-center gap-2"
          style="color: #fe4f2d; font-size: 14px; font-weight: 300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            style="width: 20px; height: 20px"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="#fe4f2d"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z"
            /></svg
          >پرفروش‌ترین در ماه گذشته
        </div>
        <div class="flex items-start justify-between">
          <div class="text-dark-teal text-xs font-medium mt-1">
            ۶۸٪ رضایت از کالا
          </div>
        </div>
        <hr class="border-darkgray" />
        <div>
          <p class="text-dark-teal font-medium text-sm">قیمت:توافقی</p>
        </div>
        <p class="text-xs text-darkgray font-light mt-2">
          در سبد خرید ۵+ نفر!
        </p>
        <button
          class="w-full bg-Orange text-white text-sm py-2 rounded-md hover:bg-bright-orange transition"
        >
          افزودن به سبد خرید
        </button>
        <div class="flex gap-8">
          <button
            class="flex-1 bg-teal text-white text-xs font-bold px-6 rounded-md"
          >
            مشاهده
          </button>
          <button
            class="flex items-center justify-center gap-5 border border-teal p-2 rounded-md bg-white"
          >
            <div class="text-dark-teal">-</div>
            <div class="text-teal">0</div>
            <div class="text-dark-teal">+</div>
          </button>
        </div>
        <hr class="bg-darkgray" />
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              style="width: 18px; height: 18px"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#015551"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"
              />
            </svg>
            <span class="font-medium text-sm text-dark-teal">روش تحویل</span>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            style="width: 16px; height: 16px"
            viewBox="0 0 24 24"
            fill="#015551"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <ul class="pr-5 mt-1 text-darkgray space-y-3 font-light text-sm">
          <li>حضوری: بین احمدآباد 4 و 6</li>
          <li>غیرحضوری: پست مشهد</li>
        </ul>
        <hr class="border-darkgray" />
        <div class="flex items-center justify-between text-darkgray">
          <div class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              style="width: 16px; height: 16px"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#015551"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 3v1.5M3 21v-6m0 0 2.77-.693a9 9 0 0 1 6.208.682l.108.054a9 9 0 0 0 6.086.71l3.114-.732a48.524 48.524 0 0 1-.005-10.499l-3.11.732a9 9 0 0 1-6.085-.711l-.108-.054a9 9 0 0 0-6.208-.682L3 4.5M3 15V4.5"
              />
            </svg>
            <span class="font-medium text-sm text-dark-teal">پشتیبانی</span>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            style="width: 16px; height: 16px"
            viewBox="0 0 24 24"
            fill="#015551"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <ul class="list-disc pr-5 mt-1 text-darkgray space-y-1 text-sm">
          <li>تماس: 09--1545</li>
          <li>حضوری: بین احمدآباد 4 و 6</li>
        </ul>
        <div class="flex justify-center">
          <button
            class="mt-4 py-2 rounded-md"
            style="
              width: 96px;
              font-weight: 300;
              color: #fe4f2d;
              border: 0.5px solid #fe4f2d;
            "
          >
            تماس با ما
          </button>
        </div>
      </aside>
    </div>
  </section>
</main>

{% endblock content  %}

{% block footer_refrence %}
    <script src="{% static 'products/js/script.js' %}"></script>
{% endblock footer_refrence %}

{% block title %}
  طراحی ست اداری
{% endblock title %}