{% extends "shared/main_layout.html" %}
{% load static %}
{% block content %}

<script src="https://cdn.tailwindcss.com"></script>
<script src="./js/script.js"></script>
<link rel="stylesheet" href="./style/style.css">

<main class="p-4 font-sans bg-white" dir="rtl">

  <!-- عنوان -->
  <h1 class="mb-6 text-xl font-bold text-right sm:text-2xl">عکاسی</h1>

  <!-- گرید محصولات -->
   <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 justify-items-center">

        <!-- کارت 1 -->
        <div class="relative w-full max-w-[220px] h-[370px] border rounded-xl p-4 shadow-sm  transition flex flex-col bg-white">
            <div class="absolute text-3xl text-gray-400 cursor-pointer top-3 left-3 heart-icon">♥</div>
            <div class="flex items-center justify-center flex-1 mb-4 overflow-hidden">
            <img src="image/Image Placeholder.svg" alt="محصول" class="object-contain w-full h-auto mt-4">
        </div>
        <div class="text-center">
            <h2 class="mb-1 text-sm font-bold">لورم ایپسوم</h2>
            <p class="mb-3 text-xs text-gray-600">توضیح یک خطی در مورد محصول؛</p>
            <div class="flex items-center justify-center gap-2">
                <button class="flex items-center justify-center gap-2 w-28 py-2 text-sm text-white bg-[#57B4BA] transition rounded-lg hover:bg-[#4da5ab]">مشاهده</button>
                <button class="flex items-center justify-center px-3 py-2 text-sm text-teal-600 transition border border-teal-400 rounded-lg hover:bg-teal-50">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5446 11C15.2943 11 15.9541 10.59 16.2939 9.97L19.8726 3.48C20.2425 2.82 19.7627 2 19.0029 2H4.20844L3.26879 0H0V2H1.99926L5.59792 9.59L4.24842 12.03C3.51869 13.37 4.47834 15 5.99777 15H17.9933V13H5.99777L7.09736 11H14.5446ZM5.15808 4H17.3036L14.5446 9H7.5272L5.15808 4ZM5.99777 16C4.89818 16 4.00851 16.9 4.00851 18C4.00851 19.1 4.89818 20 5.99777 20C7.09736 20 7.99703 19.1 7.99703 18C7.99703 16.9 7.09736 16 5.99777 16ZM15.9941 16C14.8945 16 14.0048 16.9 14.0048 18C14.0048 19.1 14.8945 20 15.9941 20C17.0937 20 17.9933 19.1 17.9933 18C17.9933 16.9 17.0937 16 15.9941 16Z" fill="#57B4BA"/>
                </svg>                
            </button>
            </div>
        </div>
        </div>

        <!-- کارت 2 -->
        <div class="relative w-full max-w-[220px] h-[370px] border rounded-xl p-4 shadow-sm  transition flex flex-col bg-white">
            <div class="absolute text-3xl text-gray-400 cursor-pointer top-3 left-3 heart-icon">♥</div>
            <div class="flex items-center justify-center flex-1 mb-4 overflow-hidden">
            <img src="image/Image Placeholder.svg" alt="محصول" class="object-contain w-full h-auto mt-4">
        </div>
        <div class="text-center">
            <h2 class="mb-1 text-sm font-bold">لورم ایپسوم</h2>
            <p class="mb-3 text-xs text-gray-600">توضیح یک خطی در مورد محصول؛</p>
            <div class="flex items-center justify-center gap-2">
                <button class="flex items-center justify-center gap-2 w-28 py-2 text-sm text-white bg-[#57B4BA] transition rounded-lg hover:bg-[#4da5ab]">مشاهده</button>
                <button class="flex items-center justify-center px-3 py-2 text-sm text-teal-600 transition border border-teal-400 rounded-lg hover:bg-teal-50">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5446 11C15.2943 11 15.9541 10.59 16.2939 9.97L19.8726 3.48C20.2425 2.82 19.7627 2 19.0029 2H4.20844L3.26879 0H0V2H1.99926L5.59792 9.59L4.24842 12.03C3.51869 13.37 4.47834 15 5.99777 15H17.9933V13H5.99777L7.09736 11H14.5446ZM5.15808 4H17.3036L14.5446 9H7.5272L5.15808 4ZM5.99777 16C4.89818 16 4.00851 16.9 4.00851 18C4.00851 19.1 4.89818 20 5.99777 20C7.09736 20 7.99703 19.1 7.99703 18C7.99703 16.9 7.09736 16 5.99777 16ZM15.9941 16C14.8945 16 14.0048 16.9 14.0048 18C14.0048 19.1 14.8945 20 15.9941 20C17.0937 20 17.9933 19.1 17.9933 18C17.9933 16.9 17.0937 16 15.9941 16Z" fill="#57B4BA"/>
                </svg>                
            </button>
            </div>
        </div>
        </div>

        <!-- کارت 3 -->
        <div class="relative w-full max-w-[220px] h-[370px] border rounded-xl p-4 shadow-sm  transition flex flex-col bg-white">
            <div class="absolute text-3xl text-gray-400 cursor-pointer top-3 left-3 heart-icon">♥</div>
            <div class="flex items-center justify-center flex-1 mb-4 overflow-hidden">
            <img src="image/Image Placeholder.svg" alt="محصول" class="object-contain w-full h-auto mt-4">
        </div>
        <div class="text-center">
            <h2 class="mb-1 text-sm font-bold">لورم ایپسوم</h2>
            <p class="mb-3 text-xs text-gray-600">توضیح یک خطی در مورد محصول؛</p>
            <div class="flex items-center justify-center gap-2">
                <button class="flex items-center justify-center gap-2 w-28 py-2 text-sm text-white bg-[#57B4BA] transition rounded-lg hover:bg-[#4da5ab]">مشاهده</button>
                <button class="flex items-center justify-center px-3 py-2 text-sm text-teal-600 transition border border-teal-400 rounded-lg hover:bg-teal-50">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5446 11C15.2943 11 15.9541 10.59 16.2939 9.97L19.8726 3.48C20.2425 2.82 19.7627 2 19.0029 2H4.20844L3.26879 0H0V2H1.99926L5.59792 9.59L4.24842 12.03C3.51869 13.37 4.47834 15 5.99777 15H17.9933V13H5.99777L7.09736 11H14.5446ZM5.15808 4H17.3036L14.5446 9H7.5272L5.15808 4ZM5.99777 16C4.89818 16 4.00851 16.9 4.00851 18C4.00851 19.1 4.89818 20 5.99777 20C7.09736 20 7.99703 19.1 7.99703 18C7.99703 16.9 7.09736 16 5.99777 16ZM15.9941 16C14.8945 16 14.0048 16.9 14.0048 18C14.0048 19.1 14.8945 20 15.9941 20C17.0937 20 17.9933 19.1 17.9933 18C17.9933 16.9 17.0937 16 15.9941 16Z" fill="#57B4BA"/>
                </svg>                
            </button>
            </div>
        </div>
        </div>

        <!-- کارت 4 -->
        <div class="relative w-full max-w-[220px] h-[370px] border rounded-xl p-4 shadow-sm  transition flex flex-col bg-white">
            <div class="absolute text-3xl text-gray-400 cursor-pointer top-3 left-3 heart-icon">♥</div>
            <div class="flex items-center justify-center flex-1 mb-4 overflow-hidden">
            <img src="image/Image Placeholder.svg" alt="محصول" class="object-contain w-full h-auto mt-4">
        </div>
        <div class="text-center">
            <h2 class="mb-1 text-sm font-bold">لورم ایپسوم</h2>
            <p class="mb-3 text-xs text-gray-600">توضیح یک خطی در مورد محصول؛</p>
            <div class="flex items-center justify-center gap-2">
                <button class="flex items-center justify-center gap-2 w-28 py-2 text-sm text-white bg-[#57B4BA] transition rounded-lg hover:bg-[#4da5ab]">مشاهده</button>
                <button class="flex items-center justify-center px-3 py-2 text-sm text-teal-600 transition border border-teal-400 rounded-lg hover:bg-teal-50">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5446 11C15.2943 11 15.9541 10.59 16.2939 9.97L19.8726 3.48C20.2425 2.82 19.7627 2 19.0029 2H4.20844L3.26879 0H0V2H1.99926L5.59792 9.59L4.24842 12.03C3.51869 13.37 4.47834 15 5.99777 15H17.9933V13H5.99777L7.09736 11H14.5446ZM5.15808 4H17.3036L14.5446 9H7.5272L5.15808 4ZM5.99777 16C4.89818 16 4.00851 16.9 4.00851 18C4.00851 19.1 4.89818 20 5.99777 20C7.09736 20 7.99703 19.1 7.99703 18C7.99703 16.9 7.09736 16 5.99777 16ZM15.9941 16C14.8945 16 14.0048 16.9 14.0048 18C14.0048 19.1 14.8945 20 15.9941 20C17.0937 20 17.9933 19.1 17.9933 18C17.9933 16.9 17.0937 16 15.9941 16Z" fill="#57B4BA"/>
                </svg>                
            </button>
            </div>
        </div>
        </div>

        <!-- کارت 5 -->
        <div class="relative w-full max-w-[220px] h-[370px] border rounded-xl p-4 shadow-sm  transition flex flex-col bg-white">
            <div class="absolute text-3xl text-gray-400 cursor-pointer top-3 left-3 heart-icon">♥</div>
            <div class="flex items-center justify-center flex-1 mb-4 overflow-hidden">
            <img src="image/Image Placeholder.svg" alt="محصول" class="object-contain w-full h-auto mt-4">
        </div>
        <div class="text-center">
            <h2 class="mb-1 text-sm font-bold">لورم ایپسوم</h2>
            <p class="mb-3 text-xs text-gray-600">توضیح یک خطی در مورد محصول؛</p>
            <div class="flex items-center justify-center gap-2">
                <button class="flex items-center justify-center gap-2 w-28 py-2 text-sm text-white bg-[#57B4BA] transition rounded-lg hover:bg-[#4da5ab]">مشاهده</button>
                <button class="flex items-center justify-center px-3 py-2 text-sm text-teal-600 transition border border-teal-400 rounded-lg hover:bg-teal-50">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5446 11C15.2943 11 15.9541 10.59 16.2939 9.97L19.8726 3.48C20.2425 2.82 19.7627 2 19.0029 2H4.20844L3.26879 0H0V2H1.99926L5.59792 9.59L4.24842 12.03C3.51869 13.37 4.47834 15 5.99777 15H17.9933V13H5.99777L7.09736 11H14.5446ZM5.15808 4H17.3036L14.5446 9H7.5272L5.15808 4ZM5.99777 16C4.89818 16 4.00851 16.9 4.00851 18C4.00851 19.1 4.89818 20 5.99777 20C7.09736 20 7.99703 19.1 7.99703 18C7.99703 16.9 7.09736 16 5.99777 16ZM15.9941 16C14.8945 16 14.0048 16.9 14.0048 18C14.0048 19.1 14.8945 20 15.9941 20C17.0937 20 17.9933 19.1 17.9933 18C17.9933 16.9 17.0937 16 15.9941 16Z" fill="#57B4BA"/>
                </svg>                
            </button>
            </div>
        </div>
        </div>
        
        <!-- کارت 6 -->
        <div class="relative w-full max-w-[220px] h-[370px] border rounded-xl p-4 shadow-sm  transition flex flex-col bg-white">
            <div class="absolute text-3xl text-gray-400 cursor-pointer top-3 left-3 heart-icon">♥</div>
            <div class="flex items-center justify-center flex-1 mb-4 overflow-hidden">
            <img src="image/Image Placeholder.svg" alt="محصول" class="object-contain w-full h-auto mt-4">
        </div>
        <div class="text-center">
            <h2 class="mb-1 text-sm font-bold">لورم ایپسوم</h2>
            <p class="mb-3 text-xs text-gray-600">توضیح یک خطی در مورد محصول؛</p>
            <div class="flex items-center justify-center gap-2">
                <button class="flex items-center justify-center gap-2 w-28 py-2 text-sm text-white bg-[#57B4BA] transition rounded-lg hover:bg-[#4da5ab]">مشاهده</button>
                <button class="flex items-center justify-center px-3 py-2 text-sm text-teal-600 transition border border-teal-400 rounded-lg hover:bg-teal-50">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5446 11C15.2943 11 15.9541 10.59 16.2939 9.97L19.8726 3.48C20.2425 2.82 19.7627 2 19.0029 2H4.20844L3.26879 0H0V2H1.99926L5.59792 9.59L4.24842 12.03C3.51869 13.37 4.47834 15 5.99777 15H17.9933V13H5.99777L7.09736 11H14.5446ZM5.15808 4H17.3036L14.5446 9H7.5272L5.15808 4ZM5.99777 16C4.89818 16 4.00851 16.9 4.00851 18C4.00851 19.1 4.89818 20 5.99777 20C7.09736 20 7.99703 19.1 7.99703 18C7.99703 16.9 7.09736 16 5.99777 16ZM15.9941 16C14.8945 16 14.0048 16.9 14.0048 18C14.0048 19.1 14.8945 20 15.9941 20C17.0937 20 17.9933 19.1 17.9933 18C17.9933 16.9 17.0937 16 15.9941 16Z" fill="#57B4BA"/>
                </svg>                
            </button>
            </div>
        </div>
        </div>

        <!-- کارت 7 -->
        <div class="relative w-full max-w-[220px] h-[370px] border rounded-xl p-4 shadow-sm  transition flex flex-col bg-white">
            <div class="absolute text-3xl text-gray-400 cursor-pointer top-3 left-3 heart-icon">♥</div>
            <div class="flex items-center justify-center flex-1 mb-4 overflow-hidden">
            <img src="image/Image Placeholder.svg" alt="محصول" class="object-contain w-full h-auto mt-4">
        </div>
        <div class="text-center">
            <h2 class="mb-1 text-sm font-bold">لورم ایپسوم</h2>
            <p class="mb-3 text-xs text-gray-600">توضیح یک خطی در مورد محصول؛</p>
            <div class="flex items-center justify-center gap-2">
                <button class="flex items-center justify-center gap-2 w-28 py-2 text-sm text-white bg-[#57B4BA] transition rounded-lg hover:bg-[#4da5ab]">مشاهده</button>
                <button class="flex items-center justify-center px-3 py-2 text-sm text-teal-600 transition border border-teal-400 rounded-lg hover:bg-teal-50">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5446 11C15.2943 11 15.9541 10.59 16.2939 9.97L19.8726 3.48C20.2425 2.82 19.7627 2 19.0029 2H4.20844L3.26879 0H0V2H1.99926L5.59792 9.59L4.24842 12.03C3.51869 13.37 4.47834 15 5.99777 15H17.9933V13H5.99777L7.09736 11H14.5446ZM5.15808 4H17.3036L14.5446 9H7.5272L5.15808 4ZM5.99777 16C4.89818 16 4.00851 16.9 4.00851 18C4.00851 19.1 4.89818 20 5.99777 20C7.09736 20 7.99703 19.1 7.99703 18C7.99703 16.9 7.09736 16 5.99777 16ZM15.9941 16C14.8945 16 14.0048 16.9 14.0048 18C14.0048 19.1 14.8945 20 15.9941 20C17.0937 20 17.9933 19.1 17.9933 18C17.9933 16.9 17.0937 16 15.9941 16Z" fill="#57B4BA"/>
                </svg>                
            </button>
            </div>
        </div>
        </div>

        <!-- کارت 8 -->
        <div class="relative w-full max-w-[220px] h-[370px] border rounded-xl p-4 shadow-sm  transition flex flex-col bg-white">
            <div class="absolute text-3xl text-gray-400 cursor-pointer top-3 left-3 heart-icon">♥</div>
            <div class="flex items-center justify-center flex-1 mb-4 overflow-hidden">
            <img src="image/Image Placeholder.svg" alt="محصول" class="object-contain w-full h-auto mt-4">
        </div>
        <div class="text-center">
            <h2 class="mb-1 text-sm font-bold">لورم ایپسوم</h2>
            <p class="mb-3 text-xs text-gray-600">توضیح یک خطی در مورد محصول؛</p>
            <div class="flex items-center justify-center gap-2">
                <button class="flex items-center justify-center gap-2 w-28 py-2 text-sm text-white bg-[#57B4BA] transition rounded-lg hover:bg-[#4da5ab]">مشاهده</button>
                <button class="flex items-center justify-center px-3 py-2 text-sm text-teal-600 transition border border-teal-400 rounded-lg hover:bg-teal-50">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5446 11C15.2943 11 15.9541 10.59 16.2939 9.97L19.8726 3.48C20.2425 2.82 19.7627 2 19.0029 2H4.20844L3.26879 0H0V2H1.99926L5.59792 9.59L4.24842 12.03C3.51869 13.37 4.47834 15 5.99777 15H17.9933V13H5.99777L7.09736 11H14.5446ZM5.15808 4H17.3036L14.5446 9H7.5272L5.15808 4ZM5.99777 16C4.89818 16 4.00851 16.9 4.00851 18C4.00851 19.1 4.89818 20 5.99777 20C7.09736 20 7.99703 19.1 7.99703 18C7.99703 16.9 7.09736 16 5.99777 16ZM15.9941 16C14.8945 16 14.0048 16.9 14.0048 18C14.0048 19.1 14.8945 20 15.9941 20C17.0937 20 17.9933 19.1 17.9933 18C17.9933 16.9 17.0937 16 15.9941 16Z" fill="#57B4BA"/>
                </svg>                
            </button>
            </div>
        </div>
        </div>

        <!-- کارت 9 -->
        <div class="relative w-full max-w-[220px] h-[370px] border rounded-xl p-4 shadow-sm  transition flex flex-col bg-white">
            <div class="absolute text-3xl text-gray-400 cursor-pointer top-3 left-3 heart-icon">♥</div>
            <div class="flex items-center justify-center flex-1 mb-4 overflow-hidden">
            <img src="image/Image Placeholder.svg" alt="محصول" class="object-contain w-full h-auto mt-4">
        </div>
        <div class="text-center">
            <h2 class="mb-1 text-sm font-bold">لورم ایپسوم</h2>
            <p class="mb-3 text-xs text-gray-600">توضیح یک خطی در مورد محصول؛</p>
            <div class="flex items-center justify-center gap-2">
                <button class="flex items-center justify-center gap-2 w-28 py-2 text-sm text-white bg-[#57B4BA] transition rounded-lg hover:bg-[#4da5ab]">مشاهده</button>
                <button class="flex items-center justify-center px-3 py-2 text-sm text-teal-600 transition border border-teal-400 rounded-lg hover:bg-teal-50">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5446 11C15.2943 11 15.9541 10.59 16.2939 9.97L19.8726 3.48C20.2425 2.82 19.7627 2 19.0029 2H4.20844L3.26879 0H0V2H1.99926L5.59792 9.59L4.24842 12.03C3.51869 13.37 4.47834 15 5.99777 15H17.9933V13H5.99777L7.09736 11H14.5446ZM5.15808 4H17.3036L14.5446 9H7.5272L5.15808 4ZM5.99777 16C4.89818 16 4.00851 16.9 4.00851 18C4.00851 19.1 4.89818 20 5.99777 20C7.09736 20 7.99703 19.1 7.99703 18C7.99703 16.9 7.09736 16 5.99777 16ZM15.9941 16C14.8945 16 14.0048 16.9 14.0048 18C14.0048 19.1 14.8945 20 15.9941 20C17.0937 20 17.9933 19.1 17.9933 18C17.9933 16.9 17.0937 16 15.9941 16Z" fill="#57B4BA"/>
                </svg>                
            </button>
            </div>
        </div>
        </div>

        <!-- کارت 10 -->
        <div class="relative w-full max-w-[220px] h-[370px] border rounded-xl p-4 shadow-sm  transition flex flex-col bg-white">
            <div class="absolute text-3xl text-gray-400 cursor-pointer top-3 left-3 heart-icon">♥</div>
            <div class="flex items-center justify-center flex-1 mb-4 overflow-hidden">
            <img src="image/Image Placeholder.svg" alt="محصول" class="object-contain w-full h-auto mt-4">
        </div>
        <div class="text-center">
            <h2 class="mb-1 text-sm font-bold">لورم ایپسوم</h2>
            <p class="mb-3 text-xs text-gray-600">توضیح یک خطی در مورد محصول؛</p>
            <div class="flex items-center justify-center gap-2">
                <button class="flex items-center justify-center gap-2 w-28 py-2 text-sm text-white bg-[#57B4BA] transition rounded-lg hover:bg-[#4da5ab]">مشاهده</button>
                <button class="flex items-center justify-center px-3 py-2 text-sm text-teal-600 transition border border-teal-400 rounded-lg hover:bg-teal-50">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5446 11C15.2943 11 15.9541 10.59 16.2939 9.97L19.8726 3.48C20.2425 2.82 19.7627 2 19.0029 2H4.20844L3.26879 0H0V2H1.99926L5.59792 9.59L4.24842 12.03C3.51869 13.37 4.47834 15 5.99777 15H17.9933V13H5.99777L7.09736 11H14.5446ZM5.15808 4H17.3036L14.5446 9H7.5272L5.15808 4ZM5.99777 16C4.89818 16 4.00851 16.9 4.00851 18C4.00851 19.1 4.89818 20 5.99777 20C7.09736 20 7.99703 19.1 7.99703 18C7.99703 16.9 7.09736 16 5.99777 16ZM15.9941 16C14.8945 16 14.0048 16.9 14.0048 18C14.0048 19.1 14.8945 20 15.9941 20C17.0937 20 17.9933 19.1 17.9933 18C17.9933 16.9 17.0937 16 15.9941 16Z" fill="#57B4BA"/>
                </svg>                
            </button>
            </div>
        </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block title %}
    محصولات
{% endblock title %}