    .bg-dark-teal {
      background-color: #57B4BA;
    }
    .text-teal {
      color: #57B4BA;
    }
    .bg-teal {
      background-color: #57B4BA;
    }
    .border-teal {
      border-color: #57B4BA;
    }