{% extends "shared/main_layout.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Art School</title>
  <!-- Tailwind CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="./style.css">
</head>
<body class="bg-white " dir="rtl">
<h1 class="p-4 mb-6 text-xl font-bold text-right sm:text-2xl">طراحی سایت</h1>
  <main class="flex flex-col items-center justify-center w-full p-4">
    
    <div class="flex items-center justify-center">
    <!-- گرید کارت‌ها -->
    <div class="grid grid-cols-1 gap-x-2 gap-y-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 justify-items-center">

      <!-- کارت 1 -->
            <div class="flex items-center justify-center">
                
                <div class="flex w-11/12 gap-2">
                    <!-- {% for product in products %} -->
                    <div class="relative flex flex-col gap-3 p-4 mx-auto text-center bg-white border shadow-sm rounded-xl">

                        <button class="absolute text-gray-400 cursor-pointer top-3 right-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                            </svg>
                        </button>
                        <img src="{{ product.image.url }} " alt="محصول" class="mb-3 aspect-[1/1] w-full" />
                        <h3 class="mb-3 text-sm font-semibold">{{ product.title }}</h3>
                        <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>        
                        <div class="flex items-center justify-between gap-6 mt-8">
                            <button class="w-1/2 px-4 py-2 text-sm text-white transition rounded-lg bg-teal">مشاهده</button>
                            <button class="px-4 py-2 transition border rounded-md text-teal border-teal">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>                  
                            </button>
                        </div>
                    </div>
                    <!-- {% endfor %} -->
                </div>
                
            </div>

            <!-- کارت2 -->
            <div class="flex items-center justify-center">
                
                <div class="flex w-11/12 gap-2">
                    <!-- {% for product in products %} -->
                    <div class="relative flex flex-col gap-3 p-4 mx-auto text-center bg-white border shadow-sm rounded-xl">

                        <button class="absolute text-gray-400 cursor-pointer top-3 right-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                            </svg>
                        </button>
                        <img src="{{ product.image.url }} " alt="محصول" class="mb-3 aspect-[1/1] w-full" />
                        <h3 class="mb-3 text-sm font-semibold">{{ product.title }}</h3>
                        <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>        
                        <div class="flex items-center justify-between gap-6 mt-8">
                            <button class="w-1/2 px-4 py-2 text-sm text-white transition rounded-lg bg-teal">مشاهده</button>
                            <button class="px-4 py-2 transition border rounded-md text-teal border-teal">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>                  
                            </button>
                        </div>
                    </div>
                    <!-- {% endfor %} -->
                </div>
                
            </div>

            <!-- کارت3 -->
            <div class="flex items-center justify-center">
                
                <div class="flex w-11/12 gap-2">
                    <!-- {% for product in products %} -->
                    <div class="relative flex flex-col gap-3 p-4 mx-auto text-center bg-white border shadow-sm rounded-xl">

                        <button class="absolute text-gray-400 cursor-pointer top-3 right-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                            </svg>
                        </button>
                        <img src="{{ product.image.url }} " alt="محصول" class="mb-3 aspect-[1/1] w-full" />
                        <h3 class="mb-3 text-sm font-semibold">{{ product.title }}</h3>
                        <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>        
                        <div class="flex items-center justify-between gap-6 mt-8">
                            <button class="w-1/2 px-4 py-2 text-sm text-white transition rounded-lg bg-teal">مشاهده</button>
                            <button class="px-4 py-2 transition border rounded-md text-teal border-teal">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>                  
                            </button>
                        </div>
                    </div>
                    <!-- {% endfor %} -->
                </div>
                
            </div>

            <!-- کارت4 -->
            <div class="flex items-center justify-center">
                
                <div class="flex w-11/12 gap-2">
                    <!-- {% for product in products %} -->
                    <div class="relative flex flex-col gap-3 p-4 mx-auto text-center bg-white border shadow-sm rounded-xl">

                        <button class="absolute text-gray-400 cursor-pointer top-3 right-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                            </svg>
                        </button>
                        <img src="{{ product.image.url }} " alt="محصول" class="mb-3 aspect-[1/1] w-full" />
                        <h3 class="mb-3 text-sm font-semibold">{{ product.title }}</h3>
                        <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>        
                        <div class="flex items-center justify-between gap-6 mt-8">
                            <button class="w-1/2 px-4 py-2 text-sm text-white transition rounded-lg bg-teal">مشاهده</button>
                            <button class="px-4 py-2 transition border rounded-md text-teal border-teal">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>                  
                            </button>
                        </div>
                    </div>
                    <!-- {% endfor %} -->
                </div>
                
            </div>

            <!-- کارت5 -->
            <div class="flex items-center justify-center">
                
                <div class="flex w-11/12 gap-2">
                    <!-- {% for product in products %} -->
                    <div class="relative flex flex-col gap-3 p-4 mx-auto text-center bg-white border shadow-sm rounded-xl">

                        <button class="absolute text-gray-400 cursor-pointer top-3 right-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                            </svg>
                        </button>
                        <img src="{{ product.image.url }} " alt="محصول" class="mb-3 aspect-[1/1] w-full" />
                        <h3 class="mb-3 text-sm font-semibold">{{ product.title }}</h3>
                        <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>        
                        <div class="flex items-center justify-between gap-6 mt-8">
                            <button class="w-1/2 px-4 py-2 text-sm text-white transition rounded-lg bg-teal">مشاهده</button>
                            <button class="px-4 py-2 transition border rounded-md text-teal border-teal">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>                  
                            </button>
                        </div>
                    </div>
                    <!-- {% endfor %} -->
                </div>
                
            </div>

            <!-- کارت6 -->
            <div class="flex items-center justify-center">
                
                <div class="flex w-11/12 gap-2">
                    <!-- {% for product in products %} -->
                    <div class="relative flex flex-col gap-3 p-4 mx-auto text-center bg-white border shadow-sm rounded-xl">

                        <button class="absolute text-gray-400 cursor-pointer top-3 right-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                            </svg>
                        </button>
                        <img src="{{ product.image.url }} " alt="محصول" class="mb-3 aspect-[1/1] w-full" />
                        <h3 class="mb-3 text-sm font-semibold">{{ product.title }}</h3>
                        <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>        
                        <div class="flex items-center justify-between gap-6 mt-8">
                            <button class="w-1/2 px-4 py-2 text-sm text-white transition rounded-lg bg-teal">مشاهده</button>
                            <button class="px-4 py-2 transition border rounded-md text-teal border-teal">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>                  
                            </button>
                        </div>
                    </div>
                    <!-- {% endfor %} -->
                </div>
                
            </div>

            <!-- کارت7 -->
            <div class="flex items-center justify-center">
                
                <div class="flex w-11/12 gap-2">
                    <!-- {% for product in products %} -->
                    <div class="relative flex flex-col gap-3 p-4 mx-auto text-center bg-white border shadow-sm rounded-xl">

                        <button class="absolute text-gray-400 cursor-pointer top-3 right-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                            </svg>
                        </button>
                        <img src="{{ product.image.url }} " alt="محصول" class="mb-3 aspect-[1/1] w-full" />
                        <h3 class="mb-3 text-sm font-semibold">{{ product.title }}</h3>
                        <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>        
                        <div class="flex items-center justify-between gap-6 mt-8">
                            <button class="w-1/2 px-4 py-2 text-sm text-white transition rounded-lg bg-teal">مشاهده</button>
                            <button class="px-4 py-2 transition border rounded-md text-teal border-teal">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>                  
                            </button>
                        </div>
                    </div>
                    <!-- {% endfor %} -->
                </div>
                
            </div>

            <!-- کارت8 -->
            <div class="flex items-center justify-center">
                
                <div class="flex w-11/12 gap-2">
                    <!-- {% for product in products %} -->
                    <div class="relative flex flex-col gap-3 p-4 mx-auto text-center bg-white border shadow-sm rounded-xl">

                        <button class="absolute text-gray-400 cursor-pointer top-3 right-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                            </svg>
                        </button>
                        <img src="{{ product.image.url }} " alt="محصول" class="mb-3 aspect-[1/1] w-full" />
                        <h3 class="mb-3 text-sm font-semibold">{{ product.title }}</h3>
                        <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>        
                        <div class="flex items-center justify-between gap-6 mt-8">
                            <button class="w-1/2 px-4 py-2 text-sm text-white transition rounded-lg bg-teal">مشاهده</button>
                            <button class="px-4 py-2 transition border rounded-md text-teal border-teal">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>                  
                            </button>
                        </div>
                    </div>
                    <!-- {% endfor %} -->
                </div>
                
            </div>

            <!-- کارت9 -->
            <div class="flex items-center justify-center">
                
                <div class="flex w-11/12 gap-2">
                    <!-- {% for product in products %} -->
                    <div class="relative flex flex-col gap-3 p-4 mx-auto text-center bg-white border shadow-sm rounded-xl">

                        <button class="absolute text-gray-400 cursor-pointer top-3 right-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                            </svg>
                        </button>
                        <img src="{{ product.image.url }} " alt="محصول" class="mb-3 aspect-[1/1] w-full" />
                        <h3 class="mb-3 text-sm font-semibold">{{ product.title }}</h3>
                        <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>        
                        <div class="flex items-center justify-between gap-6 mt-8">
                            <button class="w-1/2 px-4 py-2 text-sm text-white transition rounded-lg bg-teal">مشاهده</button>
                            <button class="px-4 py-2 transition border rounded-md text-teal border-teal">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>                  
                            </button>
                        </div>
                    </div>
                    <!-- {% endfor %} -->
                </div>
                
            </div>

            <!-- کارت10 -->
            <div class="flex items-center justify-center">
                
                <div class="flex w-11/12 gap-2">
                    <!-- {% for product in products %} -->
                    <div class="relative flex flex-col gap-3 p-4 mx-auto text-center bg-white border shadow-sm rounded-xl">

                        <button class="absolute text-gray-400 cursor-pointer top-3 right-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                            </svg>
                        </button>
                        <img src="{{ product.image.url }} " alt="محصول" class="mb-3 aspect-[1/1] w-full" />
                        <h3 class="mb-3 text-sm font-semibold">{{ product.title }}</h3>
                        <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>        
                        <div class="flex items-center justify-between gap-6 mt-8">
                            <button class="w-1/2 px-4 py-2 text-sm text-white transition rounded-lg bg-teal">مشاهده</button>
                            <button class="px-4 py-2 transition border rounded-md text-teal border-teal">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>                  
                            </button>
                        </div>
                    </div>
                    <!-- {% endfor %} -->
                </div>
  </main>
</div>
</body>
</html>
{% endblock content %}

{% block title %}
    محصولات
{% endblock title %}