<!DOCTYPE html>
<html lang="fa-ir" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body style="font-family: Yekan Bakh FaNum;">
    <!-- منو -->
    <div class="flex space-x-5 text-[18px] sm:text-[px] xs:text-[10px] text-black p-2 whitespace-nowrap overflow-hidden">
        <span class="mr-8 ml-5">دسته‌بندی کالاها</span>
        <span class="text-[#9AA6B2]">|</span>
        <span>طراحی دیجیتال</span>
        <span class="text-[#9AA6B2]">|</span>
        <span>نقاشی و تصویرسازی</span>
        <span class="text-[#9AA6B2]">|</span>
        <span>محصولات چاپی</span>
        <span class="text-[#9AA6B2]">|</span>
        <span>طراحی وب‌سایت</span>
    </div>


    <!-- بخش کارت‌ها -->
     <div class="px-6 py-8 sm:px-6 sm:py-8">

        <!-- عنوان -->
        <div class="mb-6 text-right">
            <h2 class="text-xl sm:text-2xl font-bold text-black">طراحی دیجیتال</h2>
          </div>


        <!-- کارت ها -->

        <div class="flex gap-6">

            <!-- کارت محصول1 -->
            <div class="relative h-[230px] w-[320px] bg-white rounded-xl border p-4 text-center shadow-sm">

                
          
                <!-- برچسب -->
                <div class="absolute top-3 right-3 bg-[#FE4F2D] text-white text-xs px-2 py-0.5 rounded-[4px]">جدید</div>

                <!-- محتوای کارت -->

                <div class="flex flex-col gap-3">
                    <!-- آیکون علاقه‌مندی -->
                    <div class="absolute top-3 left-3 text-gray-400 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                        </svg>
                    </div>
            
                    <!-- تصویر -->
                    <img src="../photo/sample.jpg" alt="محصول" class="mb-3 aspect-[1/1] w-full" />
            
                    <!-- عنوان -->
                    <h3 class="text-sm font-semibold mb-3">لورم ایپسوم</h3>
            
                    <!-- توضیح -->
                    <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>
            
                    <!-- فضای خالی برای هماهنگ شدن ارتفاع -->
                    <div class="flex-grow"></div>
            
                    <!-- دکمه‌ها -->
                    <div class="flex justify-between items-center gap-6">
                    
            
                    <!-- دکمه مشاهده -->
                    <button class="flex-1 py-2 text-sm border border-[#57B4BA] bg-[#57B4BA] text-white rounded-lg hover:opacity-90">
                        مشاهده
                    </button>

                    <!-- دکمه سبد خرید -->
                    <button class="w-10 h-10 border border-[#57B4BA] text-[#57B4BA] rounded-md flex items-center justify-center hover:bg-[#f0fafa]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-1.35 2.7a1 1 0 00.9 1.5H19m-12 0a1 1 0 100 2 1 1 0 000-2zm12 0a1 1 0 100 2 1 1 0 000-2z" />
                        </svg>
                    </button>
                    </div>

                

                </div>
            </div>

            <!-- کارت محصول2 -->
            <div class="relative h-[230px] w-[320px] bg-white rounded-xl border p-4 text-center shadow-sm">

                
          
                <!-- برچسب -->
                <div class="absolute top-3 right-3 bg-[#FE4F2D] text-white text-xs px-2 py-0.5 rounded-[4px]">جدید</div>

                <!-- محتوای کارت -->

                <div class="flex flex-col gap-3">
                    <!-- آیکون علاقه‌مندی -->
                    <div class="absolute top-3 left-3 text-gray-400 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                        </svg>
                    </div>
            
                    <!-- تصویر -->
                    <img src="../photo/sample.jpg" alt="محصول" class="mb-3 aspect-[1/1] w-full" />
            
                    <!-- عنوان -->
                    <h3 class="text-sm font-semibold mb-3">لورم ایپسوم</h3>
            
                    <!-- توضیح -->
                    <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>
            
                    <!-- فضای خالی برای هماهنگ شدن ارتفاع -->
                    <div class="flex-grow"></div>
            
                    <!-- دکمه‌ها -->
                    <div class="flex justify-between items-center gap-6">
                    
            
                    <!-- دکمه مشاهده -->
                    <button class="flex-1 py-2 text-sm border border-[#57B4BA] bg-[#57B4BA] text-white rounded-lg hover:opacity-90">
                        مشاهده
                    </button>

                    <!-- دکمه سبد خرید -->
                    <button class="w-10 h-10 border border-[#57B4BA] text-[#57B4BA] rounded-md flex items-center justify-center hover:bg-[#f0fafa]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-1.35 2.7a1 1 0 00.9 1.5H19m-12 0a1 1 0 100 2 1 1 0 000-2zm12 0a1 1 0 100 2 1 1 0 000-2z" />
                        </svg>
                    </button>
                    </div>

                

                </div>
            </div>

            <!-- کارت محصول3 -->
            <div class="relative h-[230px] w-[320px] bg-white rounded-xl border p-4 text-center shadow-sm">

                
          
                <!-- برچسب -->
                <div class="absolute top-3 right-3 bg-[#FE4F2D] text-white text-xs px-2 py-0.5 rounded-[4px]">جدید</div>

                <!-- محتوای کارت -->

                <div class="flex flex-col gap-3">
                    <!-- آیکون علاقه‌مندی -->
                    <div class="absolute top-3 left-3 text-gray-400 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                        </svg>
                    </div>
            
                    <!-- تصویر -->
                    <img src="../photo/sample.jpg" alt="محصول" class="mb-3 aspect-[1/1] w-full" />
            
                    <!-- عنوان -->
                    <h3 class="text-sm font-semibold mb-3">لورم ایپسوم</h3>
            
                    <!-- توضیح -->
                    <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>
            
                    <!-- فضای خالی برای هماهنگ شدن ارتفاع -->
                    <div class="flex-grow"></div>
            
                    <!-- دکمه‌ها -->
                    <div class="flex justify-between items-center gap-6">
                    
            
                    <!-- دکمه مشاهده -->
                    <button class="flex-1 py-2 text-sm border border-[#57B4BA] bg-[#57B4BA] text-white rounded-lg hover:opacity-90">
                        مشاهده
                    </button>

                    <!-- دکمه سبد خرید -->
                    <button class="w-10 h-10 border border-[#57B4BA] text-[#57B4BA] rounded-md flex items-center justify-center hover:bg-[#f0fafa]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-1.35 2.7a1 1 0 00.9 1.5H19m-12 0a1 1 0 100 2 1 1 0 000-2zm12 0a1 1 0 100 2 1 1 0 000-2z" />
                        </svg>
                    </button>
                    </div>

                

                </div>
            </div>

            <!-- کارت محصول4 -->
            <div class="relative h-[230px] w-[320px] bg-white rounded-xl border p-4 text-center shadow-sm">

                
          
                <!-- برچسب -->
                <div class="absolute top-3 right-3 bg-[#FE4F2D] text-white text-xs px-2 py-0.5 rounded-[4px]">جدید</div>

                <!-- محتوای کارت -->

                <div class="flex flex-col gap-3">
                    <!-- آیکون علاقه‌مندی -->
                    <div class="absolute top-3 left-3 text-gray-400 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                        </svg>
                    </div>
            
                    <!-- تصویر -->
                    <img src="../photo/sample.jpg" alt="محصول" class="mb-3 aspect-[1/1] w-full" />
            
                    <!-- عنوان -->
                    <h3 class="text-sm font-semibold mb-3">لورم ایپسوم</h3>
            
                    <!-- توضیح -->
                    <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>
            
                    <!-- فضای خالی برای هماهنگ شدن ارتفاع -->
                    <div class="flex-grow"></div>
            
                    <!-- دکمه‌ها -->
                    <div class="flex justify-between items-center gap-6">
                    
            
                    <!-- دکمه مشاهده -->
                    <button class="flex-1 py-2 text-sm border border-[#57B4BA] bg-[#57B4BA] text-white rounded-lg hover:opacity-90">
                        مشاهده
                    </button>

                    <!-- دکمه سبد خرید -->
                    <button class="w-10 h-10 border border-[#57B4BA] text-[#57B4BA] rounded-md flex items-center justify-center hover:bg-[#f0fafa]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-1.35 2.7a1 1 0 00.9 1.5H19m-12 0a1 1 0 100 2 1 1 0 000-2zm12 0a1 1 0 100 2 1 1 0 000-2z" />
                        </svg>
                    </button>
                    </div>

                

                </div>
            </div>

            <!-- کارت محصول5 -->
            <div class="relative h-[230px] w-[320px] bg-white rounded-xl border p-4 text-center shadow-sm">

                
          
                <!-- برچسب -->
                <div class="absolute top-3 right-3 bg-[#FE4F2D] text-white text-xs px-2 py-0.5 rounded-[4px]">جدید</div>

                <!-- محتوای کارت -->

                <div class="flex flex-col gap-3">
                    <!-- آیکون علاقه‌مندی -->
                    <div class="absolute top-3 left-3 text-gray-400 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                        </svg>
                    </div>
            
                    <!-- تصویر -->
                    <img src="../photo/sample.jpg" alt="محصول" class="mb-3 aspect-[1/1] w-full" />
            
                    <!-- عنوان -->
                    <h3 class="text-sm font-semibold mb-3">لورم ایپسوم</h3>
            
                    <!-- توضیح -->
                    <p class="text-xs text-[#1E1E1E] mt-1 mb-5">توضیح یک خطی در مورد محصول!</p>
            
                    <!-- فضای خالی برای هماهنگ شدن ارتفاع -->
                    <div class="flex-grow"></div>
            
                    <!-- دکمه‌ها -->
                    <div class="flex justify-between items-center gap-6">
                    
            
                    <!-- دکمه مشاهده -->
                    <button class="flex-1 py-2 text-sm border border-[#57B4BA] bg-[#57B4BA] text-white rounded-lg hover:opacity-90">
                        مشاهده
                    </button>

                    <!-- دکمه سبد خرید -->
                    <button class="w-10 h-10 border border-[#57B4BA] text-[#57B4BA] rounded-md flex items-center justify-center hover:bg-[#f0fafa]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-1.35 2.7a1 1 0 00.9 1.5H19m-12 0a1 1 0 100 2 1 1 0 000-2zm12 0a1 1 0 100 2 1 1 0 000-2z" />
                        </svg>
                    </button>
                    </div>

                

                </div>
            </div>

        

        </div>
        


     </div>
    
</body>
</html>